---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import BigCardsList from '../components/BigCardsList.astro';
import SmallCardsList from '../components/SmallCardsList.astro';
---

<Layout title="Social media dashboard">
	<main>
		<Hero />
		<BigCardsList />
		<SmallCardsList />
	</main>
</Layout>

